@model IEnumerable<Cliente>
@{
    ViewData["Title"] = "Index";
}

<h1>Index medicos</h1>
<a asp-controller="Medico" asp-action="Create">Cadastro de Cliente</a>
<table class="table table-brodered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Nome do Cliente
            </th>
            <th>
                Email
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td width="50%">
                    @obj.Nome
                </td>
                <td width="50%">
                    @obj.Email
                </td>
            </tr>
        }
    </tbody>
</table>